body {
    background-color: #A7DBD8;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    text-align: center;
}

.synth h1, .synth h2 {
    font-weight: normal;
}

.synth h1 {
    font-size: 18px;
}
.synth h2 {
    font-size: 12px;
}

.synth section {
}

.row {
    margin: 8px;
    min-height: 30px;
}

.column, .synth .control {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
